/* .tales {
    width: 100%;
  }
  */
  .carousel-inner{
    height:auto;
    width:60%;
    margin: 0 auto;
  }
  /* max-height: 400x !important; */

  /* 
  .item{    
  text-align:center;
  } */
  /* .carousel-inner img{
  display:inline-block  !important;
  }    */

  /* .carousel-inner>.item>a>img, .carousel-inner>.item>img {
    margin: 0 auto;
    width:50%;
    height: auto;
} */

    /* margin: 0 auto; */

    /* carousel-inner>carousel-item>view>img {
    width:50%;
    height: auto;
} */

    /* margin: 0 auto; */
    /* carousel-inner>carousel-control-prev>carousel-control-prev-icon>sr-only {
    width:50%;
    height: auto;
} */


/* img { width: 50%; margin: auto; } */

.box_textshadow {
  text-shadow: 1px 1px 0px #2c3e50; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}